.color-scheme-switch {
  position:absolute;
  height: $header-height / 2;
  width: $header-height / 2;
  border-left: $border;
  border-top: $border;
  background: $white;
  display:block;
  bottom: 0;
  right:0;
  z-index: 99;
  &.hide-on-scroll {
    transition: transform 0.2s;
    transform: translate3d(0%,0%,0);
    body.has-scrolled & {
      transform: translate3d(100%,0%,0);
    }
  }
}

.color-scheme-switch > div {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.color-scheme-switch svg {
  @include abs-center();
  path {
    fill: $blue;
  }
  line {
    stroke: $blue;
  }
}

.color-scheme__day {
  body.inverted-colors & {
    display:none;
  }
}

.color-scheme__night {
  display:none;
  body.inverted-colors & {
    display:block;
  }
}