*[data-lightbox]{
  cursor: zoom-in;
}

.lightbox {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &:not(.is-ready):not(.lightbox-single){
    opacity: 0;
    z-index: -1;
  }
}