<div class="lightbox" :class="{'is-ready':isReady}" js-component="lightbox" v-cloak v-show="isOpen">
  <div>
    {% include 'slideshow.twig' with {lightbox: true, vue: true, bg: 'dots', backgroundSize: 'contain'} %}
    {% include 'close.twig' with {attrs:'@click="close"'}%}
  </div>
</div>