{% extends "block.twig" %}

{% block content %}

<div class="core-gallery">
  {% include 'slideshow.twig' with {images: images} %}
  {#{% if gallery_type == 'slideshow' or (attrs.className == 'is-style-slideshow' and gallery_type != 'grid' ) %}
    {% include 'slideshow.twig' with {images: images} %}
  {% else %}
    {% for image in images %}
      <img class="core-gallery__img" src="{{image}}" />
    {% endfor %}
  {% endif %}#}
</div>

{% endblock %}