h1, .h1 {
  @include font-size('normal');
  text-align: center;
  display:inline-block;
  width:auto;
  border-bottom: 2px solid $blue;
  margin: 0 auto 2rem;
  line-height: 1.2em;
}

h3, .h3 {
  @include font-size('normal');
  display:inline-block;
  width:auto;
  border-bottom: 2px solid $blue;
  margin: 0 auto 1.25rem;
  line-height: 1.2em;
}