/*body, html {
  cursor: url('../images/cursor.png') 0 0, auto;
  cursor: url('../images/cursor.svg') 0 0, auto;
  cursor: -webkit-image-set(url('../images/cursor.png') 1x, url('../images/cursor.svg') 2x) 0 0, auto;
}*/