@font-face {
  font-family: 'Apercu';
  src: url('../fonts/hinted-Apercu.eot');
  src: url('../fonts/hinted-Apercu.eot?#iefix') format('embedded-opentype'),
      url('../fonts/hinted-Apercu.woff2') format('woff2'),
      url('../fonts/hinted-Apercu.woff') format('woff'),
      url('../fonts/hinted-Apercu.ttf') format('truetype'),
      url('../fonts/hinted-Apercu.svg#Apercu') format('svg');
  font-weight: normal;
  font-style: normal;
}

body:not(.wp-admin), 
html:not(.wp-toolbar) {
  @include font-family();
}

body:not(.wp-admin), 
html:not(.wp-toolbar),
.font-normal {
  @include font-size('normal');
}

.font-small {
  @include font-size('small');
}

.font-big {
  @include font-size('big');
}

