@import "typography";
@import "../../modules/featured-image/featured-image";

body {
  @include light-mode();
}

.acf-block-preview,
.block-editor-rich-text,
.editor-post-title__input {
  @include font-family('!important');
}

body.wp-admin .h3 {
  @include font-size('normal');
  font-weight: normal;
  text-decoration: underline;
}

.editor-post-title__input{
  text-align:center;
  text-decoration: underline;
}

#wp-admin-bar-site-name .ab-item:before {
  display: none !important;
}
