$input-height-login: 55px;

#login {
  width: 400px;
  padding-left: 24px;
  padding-right: 24px;
}

#login h1 {
  height: 80px;
  margin-bottom: 20px;
}

#login h1 a {
  background-image: url('../images/logo-white.svg') !important;
  width: 100%;
  background-size: contain !important;
  max-width: 220px;
  margin: 0 0;
}

#login form {
  border:none !important;
  background: none  !important;
  padding-bottom: 10px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 20px !important;
}

input.input[type=text],
input.input[type=password],
input#wp-submit[type=submit] {
  outline: none;
  border-radius: 0px;
  border: 2px solid $white-color;
  background: none;
  color: $white-color;
  height: $input-height-login;
  padding: 0 10px;
  line-height: $input-height-login;

}

input#wp-submit[type=submit] {
  height: 65px;
  background: $white-color;
  color: $blue-color;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}

input#wp-submit[type=submit]:hover {
  background: $white-color;
  color: $blue-color;
}

.wp-pwd .button {
  height: $input-height-login !important;
}

.wp-pwd .button .dashicons {
  color: $white-color;
}