.blog-search-query {
  margin-bottom: 2.1rem;
}

.blog-search-query__no-result {
  padding-top: 1em;
}

.blog-search-query__no-result svg {
  width: 1.1em;
  margin-top: -0.2em;
  margin-left: 0.3em;
  path {
    fill: $blue;
  }
}