<div class="blog-search-query align-c">
      {% if posts|length %}
        <div class="font-small">
          {{posts|length}} 
          article{% if posts|length > 1 %}s{% endif %} 
          trobat{% if posts|length > 1 %}s{% endif %} 
          {#per a la cerca "{{search_query}}"#}
        </div>
      {% else %} 
        <div class="font-normal blog-search-query__no-result">
          Cap resultat trobat {{ source('emoji-sad.svg') }}
        </div>
      {% endif %}
</div>