.post-content {
  padding:3rem #{$header-height / 2} 1rem;
  width:100%;
  margin: 0 auto;
  body.base-layout--sidebar & {
    padding:3rem #{$padding} 1rem;
    @include media-breakpoint-down('xs'){
      padding-top: 2rem;
    }
  }
  &.border {
    width:80%;
    max-width: 27rem;
    padding: #{$header-height / 2} #{$header-height / 2} 0.6rem;
    margin-bottom: $header-height;
    background: $white;
  }
  @include media-breakpoint-down('xs'){
    padding-top: 2rem;
  }
}

.post-content__padding-top {
  padding-top: 2.8rem;
}

.post-content__wrapper {
  margin: 0 auto;
  max-width: 28rem;
  body.page-template-services & {
    max-width: 23rem;
  }
  p {
    max-width: 23rem;
    margin-left: auto;
    margin-right: auto;
  }
  .core-image.core-image--contained {
    width: 100%;
  }
}

.post-content.border p {
  max-width: none;
}

.single-post .post-content h1 {
  border-bottom:none;
  text-decoration: underline;
}