.input-text {
  background: $white;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  border: $border;
  display: block;
  width: 100%;
  @include font-size('small');
  height: $header-height/2 + $border-width * 2;
  padding: 0 0.8em;
  color: $blue;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $blue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $blue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $blue;
}
