{% if not removeFooter %}
<footer class="footer {#{% if footerShadow %}footer--shadow bg-pattern{% endif %}#}">
  {% block footer %}
    <nav class="font-small">
      {% for item in menu %}
        <a href="{{item.url}}">
          <span>{{item.title}}</span>
        </a>
      {% endfor %}
    </nav>
  {% endblock %}
  {% include 'color-scheme-switch.twig' %}
</footer>
{% endif %}