
  <div class="blog-list">
    <div class="row">
      {% for post in posts %}
        {% if loop.index == 1 and (posts|length == 1 or not is_search) %}
          {% set highlight = true %}
        {% else %} 
          {% set highlight = false %}
        {% endif %}
        <div class="{% if highlight %}col-12{% else %}col-6{% endif %}">
          {{ the_module( 'blog-post-card', {post: post, index: loop.index, highlight: highlight}) }}
        </div>
      {% endfor %}
    </div>
  </div>