.slideshow {
  border-bottom: $border;
  border-top:$border;
  @include viewport-height('- 56px');
  .single-post-header & {
    border-top:none;
    @include internal-header-height();
  }

  &.slideshow--length-1 {
    height: calc(100vh - #{$padding*2 + $header_height});
  }

  .lightbox & {
    height: 100% !important;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    border: none !important;
  }
}

.slideshow .flickity-viewport {
  height: 100% !important;
}

.slideshow .flickity-viewport.is-pointer-down,
.slideshow .flickity-viewport.is-pointer-down [data-lightbox] {
  cursor: grabbing;
}

.slideshow .flickity-page-dots {
  bottom: -26px;
  background: $white;
  width:auto;
  left: 50%;
  transform: translateX(-50%);
  border: $border;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 12px;
  padding-bottom: 14px;
  line-height: 14px !important;

  .single-post-header &,
  .lightbox & {
    display:none;
  }
}

.slideshow.slideshow--length-1 .flickity-page-dots {
  display:none;
}

.slideshow .flickity-page-dots .dot {
  background: $white;
  width:14px;
  height:14px;
  border: $border;
  opacity:1;
  &.is-selected {
    background: $blue;
  }
}

.slideshow .flickity-prev-next-button {
  display:none;
  border: $border;
  background: $white;
  width: 56px;
  height: 56px;
  outline: none;
  opacity: 1 !important;
  &.next {
    right: $padding;
    @include bg-image('auto auto', '../../assets/images/arrow-right.svg');
    body.inverted-colors & {
      background-image:url('../../assets/images/arrow-right-white.svg');
    }
  }
  &.previous {
    left: $padding;
    @include bg-image('auto auto', '../../assets/images/arrow-left.svg');
    body.inverted-colors & {
      background-image:url('../../assets/images/arrow-left-white.svg');
    }
  }
}

.single-post-header .slideshow .flickity-prev-next-button,
.lightbox .slideshow .flickity-prev-next-button {
  display:block;
  &[disabled] {
    display:none;
  }
}

.slideshow .flickity-prev-next-button .flickity-button-icon {
  display:none;
}