<div 
  class="slideshow bg-{{bg|default('pattern')}} slideshow--length-{{images | length}}" 
  js-component="slideshow"
>
  {% for image in images %}
    {% include 'slideshow-cell.twig' %}
  {% endfor %}

  {% if vue %}
    {% include 'slideshow-cell.twig' %}
  {% endif %}
</div>