.block.block--acf-post-card {
  margin-bottom: 3.7rem;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 3.7rem;
  }
  @include media-breakpoint-down('xs'){
    margin-bottom: 0;
    .block--core-gallery + & {
      margin-top: -40px;
    }
  }
}


.acf-post-card {
  width:86%;
  max-width: 23rem;
  border: $border;
  margin: 0 auto;
  position:relative;
  background: $white;
  body.wp-admin & {
    width:100%;
    max-width: none;
  }
  @include media-breakpoint-down('xs'){
    width: 100%;
    border-right: none;
    border-left: none;
    border-top:none;
  }
}

.acf-post-card__content {
  padding: 1.6rem 1.6rem 1.3rem 26%;
  body.wp-admin & {
    padding-top: 0.8rem;
  }
  @include media-breakpoint-down('sm'){
    text-align:center;
    padding-left: 1.6rem;
  }
  @include media-breakpoint-down('xs'){
    padding: 2rem;
  }
  @media (max-width:$breakpoint-xxs ){
    padding: 1.8rem 1.2rem;
  }
}

.acf-post-card__excerpt {
  min-height: 4em;
  margin-bottom: 2.2em;
  max-width:25em;
  @include media-breakpoint-down('sm'){
    margin-bottom: 1.6rem;
    text-align:left;
  }
}

.acf-post-card__tumbnail {
  position:absolute;
  background:$white;
  border: $border;
  width: 27%;
  top:1.8rem;
  left:-8%;
  @include media-breakpoint-down('sm'){
    position:relative;
    top:0;
    border:none;
    left:0;
    width:100%;
    border-bottom: $border;
  }
  @include media-breakpoint-down('xs'){
    @include bg-pattern-dots();
  }
}

.acf-post-card__tumbnail__padding {
  width:100%;
  padding-bottom:100%;
  @include media-breakpoint-down('sm'){
    padding-bottom:40%;
  }
  @include media-breakpoint-down('xs'){
    padding-bottom:50%;
  }
}