{% extends "block.twig" %}

{% block content %}

  <div class="acf-post-card">
    <div class="acf-post-card__tumbnail">
      {{ the_module('featured-image',  { post: post, borderSvg: true }) }}
      <div class="acf-post-card__tumbnail__padding"></div>
    </div>
    <div class="acf-post-card__content">
      <h3 class="h3">{{post.post_title}}</h3>
      <div class="acf-post-card__excerpt font-small">
        {{the_excerpt(post)}}
      </div>
      {% include 'button.twig' with {text: 'Més informació', link: function('get_permalink', post.ID) } %}
    </div>
  </div>

{% endblock %}