<div class="lightbox lightbox-single bg-dots" js-component="lightbox-single" v-cloak v-if="isOpen">
  <div>
    {% include 'slideshow-cell.twig' with {lightboxSingle: true, lightbox: true, vue: true, bg: 'none', backgroundSize: 'contain'} %}
    {% include 'close.twig' with {attrs:'@click="close"'}%}
  </div>
</div>