.close {
  position:absolute;
  top:0;
  right:0;
  width: $header-height / 2 + $border-width;
  height: $header-height / 2 + $border-width;
  border-left: $border;
  border-bottom: $border;
  background: $white;
  z-index: 99;
  cursor:pointer;
}

.close svg {
  @include abs-center();
  width: 21px;
  line {
    stroke: $blue;
  }
}