.input-search {
  width:33.33%;
  width:calc(33.33% + #{$border-width*2});
  margin: 0 auto;
  padding: 1.9rem 0 2.6rem 0;
  outline: none;
  position:relative;

  &.input-search--has-results {
    padding-bottom: 1rem;
  }
}

.input-search__wrapper {
  position:relative;
}

.input-search__input {
  padding-right: #{$header-height/2} !important;
}

.input-search__submit {
  position:absolute;
  top:0;
  right:0;
  width: #{$header-height/2};
  height: 100%;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border:none;
  box-shadow: none;
  text-indent: -99em;
  overflow: hidden;
  @include bg-image('25px auto', '../../assets/images/search.svg');
  body.inverted-colors & {
    background-image: url('../../assets/images/search-white.svg');
  }
}
