<form class="input-search {% if is_search %} input-search--has-results {% endif %}" method="GET">
  <div class="input-search__wrapper">
    {% include 'input-text.twig' with {
        name:"s", 
        placeholder: 'Cerca', 
        class:"input-search__input", 
        required: true,
        value: search_query | default(null)
      } %}
    <input type="submit" value="Cerca" class="input-search__submit">
  </div>
</form>