

body.base-layout {
    background:$white;
    position: fixed;
    border:$padding solid $white;
    height:100%;
    width:100%;
    top:0;
    left:0;
    color: $blue;
    overflow: hidden;
    @include media-breakpoint-down('sm'){
      border-width:$padding / 1.6;
    }
    @media (max-width: $breakpoint-xxs){
      border-width: 10px;
    }
}

.base-layout__wrap {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  border:$border;
  overflow: hidden;
  display:flex;
  flex-direction: column;
}

.base-layout__main {
  display:flex;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
  @media (max-width: 1080px) {
    display:block;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
    width:100%;
  }
}

.base-layout__content {
  overflow-y: scroll; /* has to be scroll, not auto */
  //padding-top: $header_height;
  -webkit-overflow-scrolling: touch;
  width:100%;
  @media (max-width: 1080px) {
    overflow-y: auto;
  }
}

.base-layout__content__content {
  min-height: $content-innerheight;
  position:relative;
  z-index: 10;
}
