<!doctype html>
<!--[if lt IE 7]><html class="no-js no-svg ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js no-svg ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js no-svg ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}>
    <!--<![endif]-->
    <head>
        {% include 'head.twig' %}
        {% block head %}{% endblock %}
    </head>

    <body class="{{body_class}} base-layout {% block bodyClass %}{% endblock %}" data-template="base-layout.twig" js-component="base-layout">

        {% include 'color-scheme-cookie.twig' %}

        <div class="base-layout__wrap">
            {{ the_module('header') }}
            <main class="base-layout__main">
                {% block sidebarSlot %}{% endblock %}
                <div class="base-layout__content">
                    <div class="base-layout__content__content">
                        {% block content %}            
                        {% endblock %}
                    </div>
                    {{ the_module('footer') }}
                </div>
                {% include 'notifications.twig' %}
            </main>
            {% include 'lightbox.twig' %}
            {% include 'lightbox-single.twig' %}
            {% include 'page-loader.twig' %}
            {% if fn('is_front_page') %}
                {% include 'color-scheme-switch.twig' with {class: 'd-none d-md-block hide-on-scroll'} %}
            {% endif %}
            {% block absoluteContent %}{% endblock %}
        </div>

        {% block wp_footer %}
            {{ function('wp_footer') }}
        {% endblock %}

        <script>
            {% block js %}
            {% endblock %}
        </script>

    </body>
</html>