.home-content {
  @include bg-pattern-dots();
}

.home-content .block:first-child {
  padding-top: 17.5vh;
  padding-bottom: 17vh;
  margin-bottom: 0;
  text-align: center;
  background: $white;
}

.home-content .block:first-child > p {
  max-width: 12em;
  @include font-size('big');
}