{% set is_home = fn('is_front_page') %}

<div vue-app>
  <div>
    <header class="header border-bottom" {#js-component="header"#}>
      <{% if is_home %}div{% else %}a href="{{site.url}}"{% endif %} class="header__col header__logo header__col--left align-l">
        {{ source( 'logo.svg') }}
      </{% if is_home %}div{% else %}a{% endif %}>
      <div class="header__col header__col--center font-small align-c">
        {% if titleLink %}<a href="{{titleLink}}">{% endif %}
          {{title}}
        {% if titleLink %}</a>{% endif %}
      </div>
      <div class="header__col header__col--right font-small noselect">
        <div class="header__col__subrow header__col__subrow--top">
          <div class="header__menu-top">
          {% for item in menus.top %}
            <a href="{{item.url}}" target="{{item.target}}">{{item.title}}</a>
          {% endfor %}
          </div>
        </div>
        {% include 'header-menu.twig' with {menu: menus.main} %}
      </div>
    </header>
  </div>
</div>