.header {
  min-height: $header_height;
  max-height: $header_height;
  position: relative;
  top:0;
  left:0;
  width:100%;
  z-index: 999;
  background: $white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  display:flex;
  transform: translate3d(0, 0%, 0);
  transition: transform 0.3s;
  &.has-scrolled {
    transform: translate3d(0, -100%, 0); 
  }
  @include media-breakpoint-down('sm'){
    min-height: $header_height-sm;
    max-height: $header_height-sm;
  }
  @include media-breakpoint-down('xs'){
    min-height: $header_height-xs;
    max-height: $header_height-xs;
  }
}

.header__col {
  min-width: 33.33%;
  max-width: 33.33%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  @include media-breakpoint-down('md'){
    min-width: 50%;
    max-width: 50%;
  }
}

.header__col--left {
  border-right: $border;
  text-align: left;
  align-items: flex-start;
  padding-left: $padding*1.2;
  @include media-breakpoint-down('md'){
    border-right:2px solid $blue;
   }
   @include media-breakpoint-down('sm'){
    padding-left: $padding-sm*1.2;
   }
   @include media-breakpoint-down('xs'){
    padding-left: $padding-xs*1.2*0.8;
   }
}

.header__col--center{
  @include media-breakpoint-down('md'){
    display:none;
  }
}

.header__col--right {
  border-left: $border;
  @include media-breakpoint-down('md'){
   border-left:1px solid $blue;
  }
}

.header__col__subrow {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 50%;
  @include media-breakpoint-down('sm'){
    min-height: 100%;
  }
}

.header__col__subrow--top {
  border-bottom: $border;
  justify-content: space-around;
  @include media-breakpoint-down('sm'){
    display:none;
   }
}

.header__menu-top {
  display:flex;
  width: 84%;
  justify-content: space-around;
}

.header__menu-top > a,
.header__menu-top > .a {
  display:block;
  text-align: center;
  height: 1.15em;
  line-height: 1em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.header__menu-top > a {
  &:hover {
    border-bottom-color: $blue;
  }
}

.header__logo svg {
  width:170px;
  display:block;
  g {
    fill: $blue;
  }
  @include media-breakpoint-down('sm'){
    width:150px;
  }
  @include media-breakpoint-down('xs'){
    width:130px;
    max-width: 85%;
  }
}

.header__col__subrow--bottom {
  position:relative;
}

