{% extends "base-layout.twig" %}

{% block head %}
  {{ add_context({
    title : false
  }) }}
{% endblock %}


{% block content %}
<div class="bg-dots">
  {% embed 'post-content-shadow.twig' with {class: 'has-content'} %}
    {% block contentShadow %}
        <div class="post-content__padding-top align-c">
          <h1 class="font-big">
            <a href="{{fn('get_post_type_archive_link', 'post')}}">Blog</a>
          </h1>
        </div>
        {% include 'input-search.twig' %}
        {% if is_search %}
          {% include 'blog-search-query.twig' %}
        {% endif %}
    {% endblock %}
  {% endembed %}
  {% if posts|length %}
    {% include 'blog-list.twig' %}
  {% endif %}
</div>
{% endblock %}
