{% extends "base-layout.twig" %}

{% block head %}
  {{ add_context({
    footerShadow : true,
    title : false
  }) }}
{% endblock %}

{% block content %}
  <div class="__bg-dots">
    {% include 'post-content-shadow.twig' with {bg: 'dots'} %}
    {% include 'post-content.twig' with {class:'border', contentClass:'font-small'} %}
  </div>
{% endblock %}