.block.block--core-embed-youtube,
.block.block--core-embed-vimeo {
  max-width: 27rem;
  @include media-margin();
  position:relative;
  overflow: hidden;
}

.embed-video {
  background:$blue;
  .slideshow__cell & {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:none;
  }
}

.plyr__video-wrapper.plyr__video-embed {
  @include bg-pattern-dots();
  .slideshow__cell & {
    background: none !important;
  } 
}

.plyr--video {
  border: $border;

  .slideshow__cell & {
    border:none;
    width:100%;
    @include abs-center();
    max-height: $viewport-innerheight;
    background: black;
  }
}

.plyr__control--overlaid[data-plyr="play"]{
  border: $border;
  background: $white;
  width:70px;
  height: 70px;
}

.plyr__control--overlaid[data-plyr="play"] svg {
  fill:$white;
  stroke: $blue;
  stroke-width: $border-width;
  display:none;
}

.plyr__control--overlaid[data-plyr="play"] {
  background-image: url('../../assets/images/play.svg') !important;
  body.inverted-colors & {
    background-image: url('../../assets/images/play-hover.svg') !important;
  }
  background-position: 57% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 19px auto;
  &:hover {
    background-size: 19px auto !important;
    background-image: url('../../assets/images/play-hover.svg') !important;
    body.inverted-colors & {
      background-image: url('../../assets/images/play.svg') !important;
    }
  }
}


.embed-video__preload-images {
  display: inline;
  background-image: url('../../assets/images/play-hover.svg');
}

.embed-video [data-plyr=fullscreen],
.embed-video [data-plyr=settings] {
  display:none;
}

.block .plyr__controls:not(.plyr__controls--custom) {
  padding-right: 50px !important;
}

.embed-video__fullscreen {
    width: 31px;
    height: 31px;
    right:15px;
    bottom: 14px;
    position:absolute;
    background: transparent;
    transition: 0.2s;
    border-radius: 3px;
    z-index: 99;
    cursor: pointer !important;
    &:hover {
      background: $blue-color;
    }
} 

.embed-video__fullscreen svg {
  @include abs-center();
  width: 18px;
  path {
    fill: $white-color;
  }
}

.lightbox .plyr__video-wrapper {
  max-height: 100%;
}


.lightbox .plyr--video {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform: none;
}

.lightbox .plyr__video-wrapper {
  @include abs-center();
  width:100%;
}



.plyr__controls .plyr__controls__item[data-plyr="play"]:hover,
.plyr__controls .plyr__controls__item[data-plyr="mute"]:hover {
  background:$blue-color;
}