{% extends "block.twig" %}

{% if '<h1>' in innerHTML %}
  {% set tag = 'h2' %}
{% elseif '<h2>' in innerHTML %}
  {% set tag = 'h2' %}
{% elseif '<h3>' in innerHTML  %}
  {% set tag = 'h3' %}
{% elseif '<h4>' in innerHTML  %}
  {% set tag = 'h3' %}
{% elseif '<h5>' in innerHTML  %}
  {% set tag = 'h3' %}
{% elseif '<h6>' in innerHTML  %}
  {% set tag = 'h3' %}
{% endif %}

{% block content %}

<{{tag}} class="{{class}}">
  {{innerHTML | striptags }}
</{{tag}}>

{% endblock %}