.header__menu {
  position:relative;
  cursor:pointer;
}

.header__menu__trigger {
  display:inline-block;
  line-height: 1em;
  background:$white;
  padding: 5px 7px;
  &[v-cloak] {
    display:none;
  }
} 

.header__menu__trigger span {
  line-height: 1em;
  height: 1.1em;
  border-bottom: 2px solid transparent;
  .header__menu:not(.bg-pattern) &:hover {
    border-color:$blue;
    cursor: pointer;
  }
}

.header__menu-dropdown {
  position:absolute;
  width: 100%;
  width:calc(100% + #{$border-width});
  height:auto;
  top:100%;
  right:0;
  border-left: $border;
  border-top: $border;
  @include media-breakpoint-down('xs'){
    $background: $white;
    border-left:none;
    width:calc(200% + #{$border-width});
    height: $content-innerheight-xs;
    overflow-y: auto;
   }
  @media (max-width: $breakpoint-xxs){
    height: $content-innerheight-xs
   }
}

.header__menu-dropdown__item {
  display:flex;
  width:100%;
  height: $header_height / 2 + $border-width;
  border-bottom: $border;
  background: $white;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  cursor:pointer;
  &:hover {
    background:$blue;
    color:$white !important;
  }
  @include media-breakpoint-down('xs'){
    height: $header_height-xs;
  }
  &.header__menu-dropdown__item--sm {
    display:none;
    @include media-breakpoint-down('sm'){
      display:flex;
     }
  }
}

.header__shadow {
  position: fixed;
  background-color: transparent;
  border:$padding solid $white;
  height:100%;
  width:100%;
  top:0;
  left:0;
  color: $blue;
  overflow: hidden;
}

.header__shadow:before {
  content: " ";
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  border: $border;
}