.featured-image--svg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.featured-image--svg svg {
  @include abs-center();
  width: 40%;
  max-height: 45%;
  max-width: 170px;
  z-index: 10;
  &,
  path,
  g {
    fill: $blue !important;
  }
  .acf-post-card & {
    width: 50%;
    max-height: none;
  }
  .acf-post-card .featured-image--disseny-industrial & {
    width: 55%;
  }
  .featured-image--restart-parties & {
    max-width: 120px;
  }
}


.featured-image--svg svg + svg {
  z-index: 2;
  overflow: visible;
  path {
    stroke: $white;
    stroke-width: 1rem;
  }
}


.featured-image--bitmap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  @include bg-image();
}