{% set  backgroundSize = backgroundSize|default('cover') %}

<div class="slideshow__cell" 
    {% if not vue %} data-lightbox='{"src":"{{image.lightbox}}", "preview":"{{image.src}}"}'
    {% elseif lightboxSingle %} v-if="cell"
    {% else %} v-for="cell in cells" ref="slideshow-cell"
    {% endif %}
  >
    <div {% if vue %}v-if="cell.type === 'image'"{% endif %} class="slideshow__img slideshow__img--{{ backgroundSize }}" 
      {% if not vue %} style="background-image:url({{image.src}});"
      {% else %} :style="{ backgroundImage: 'url(' + cell.preview + ')' }"
      {% endif %}
    ></div>

    {% if vue %}
    <div v-if="cell.type === 'image' && cell.src != cell.preview" 
      class="slideshow__img slideshow__img--{{ backgroundSize }}"
      :style="{ backgroundImage: 'url(' + cell.src + ')' }"
      v-cloak
      v-if="loadMedia"
    ></div>

    <div v-if="cell.type === 'video'" class="slideshow__img">
      {% include 'embed-video.twig' %}
    </div>
    {% endif %}
</div>