.button {
  display:flex;
  width:100%;
  height: #{$header-height/2 + $border-width*2};
  border: $border;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background: $white;
  transition: 0.2s;
  &:hover {
    background:$blue;
    color:$white;
  }
  &.font-small,
  .font-small & {
    // height: 1.9rem;
  }
}
