.blog-post-card {
  border: $border;
  margin-bottom: $header-height / 3;
  display:block;
  background: $white;
}

.blog-post-card__thumbnail {
  border-bottom: $border;
  padding-bottom: 55%;
  position: relative;
  .blog-post-card.blog-post-card--first & {
    padding-bottom: 43%;
  }
}

.blog-post-card__thumbnail__image {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  @include bg-image();
  mix-blend-mode: multiply;
}

.blog-post-card__thumbnail__image-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: $white;
  body.inverted-colors & {
    background: $blue;
  }
}

.blog-post-card__title {
  min-height: $header-height / 2;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.blog-post-card__first-letter {
  @include abs-center();
  font-size: 3rem;
  .blog-post-card.blog-post-card--first & {
    font-size: 4rem;
  }
  .blog-post-card:hover & {
    opacity: 0;
  }
}

.blog-post-card__first-letter--border {
  -webkit-text-fill-color: $blue; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.2em;
  -webkit-text-stroke-color: $white;
}

.blog-post-card__view-more {
  @include abs-center();
  width:5rem !important;
  opacity:0;
  .blog-post-card:hover & {
    opacity: 1;
  }
  body.inverted-colors &:hover {
    // border-color: $white;
  }
}