{% extends "base-layout.twig" %}

{% block bodyClass %} base-layout--sidebar {% endblock %}

{% block sidebarSlot %}
<div class="base-layout__sidebar">
    {% block sidebar %}
        <div class="base-layout__sidebar__top bg-dots">
            {% block sidebarTop %}{% endblock %}
        </div>
        <div class="base-layout__sidebar__bottom bg-pattern">
            {% block sidebarBottom %}{% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}