@import "~bootstrap/scss/mixins";

@mixin font-size($size: 'normal') {

  @if $size == 'normal' {
    font-size: 1.8vw;
    line-height: 1.4em;
    @media (max-width: 1440px) {
      font-size: 26px;
    }
    @include media-breakpoint-down('sm'){
      font-size: 21px;
    }
    @include media-breakpoint-down('xs'){
      font-size: 19px;
    }
    @media (max-width: $breakpoint-xxs ){
      font-size: 20px;
    }
  }

  @else if $size == 'small'{
    font-size: 0.7rem;
    line-height: 1.4em;
    @media (min-width: 1800px) {
      font-size: 20px;
    }
    @include media-breakpoint-down('sm'){
      font-size: 18px;
    }
    @include media-breakpoint-down('xs'){
      font-size: 1rem;
    }
    @media (max-width: $breakpoint-xxs ){
      font-size: 18px;
    }
  }

  @else if $size == 'big'{
    font-size: 1.8rem;
    line-height: 1.2em;
  }
}

@mixin font-family($append: ''){
  font-family: "Apercu", Arial, Helvetica, sans-serif #{$append};
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $blue #{$append};
  font-weight: 400 #{$append};
}

@mixin bg-image($size: 'cover', $image: false) {
  background-size: #{$size};
  background-position:center;
  background-repeat: no-repeat;
  @if $image {
    background-image: url($image);
  }
}

@mixin abs-center($position: 'absolute') {
  position: #{$position};
  top:50%;
  left:50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin light-mode(){
  --positive-color: #{$blue-color};
  --negative-color: #{$white-color};
}

@mixin dark-mode(){
  --positive-color: white;
    --negative-color: #{$blue-color};
}

@mixin viewport-height($append: ''){
  height: calc(100vh - #{$padding*2 + $header_height} #{$append});
}

@mixin bg-pattern-lines($dir: '..'){
  background-color: $white;
  background-image: url('#{$dir}/images/pattern-tile-x2.svg');
  body.inverted-colors & {
    background-image: url('#{$dir}/images/pattern-tile-x2-white.svg');
  }
  background-repeat: repeat;
  background-size: 22px 22px;
}

@mixin bg-pattern-dots($dot-space: 18px, $bg: $white){

  $dot-size: 2px;

  background:
  linear-gradient(90deg, $bg ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg ($dot-space - $dot-size), transparent 1%) center,
  $blue;
  background-size: $dot-space $dot-space;
}

@mixin media-margin(){
  margin: 2rem auto;
  body.page-template-about &,
  body.page-template-home & {
    margin: 3rem auto;
  }
}

@mixin internal-header-height(){
  height: 13rem;
  min-height: 38vh;
  max-height: 45vh;
  @media (max-width: 1080px) {
    max-height: 43vh;
  }
}