$black: rgb(34,34,34);
$yellow: #F9DE1C;
$orange: #F19331;
$red: #F14C38;
$blue-color: #3F52FF;
$white-color: rgb(242,242,242);
$blue: var(--positive-color);
$white: var(--negative-color);

$header_height : 112px;
$header_height-sm: $header_height / 1.2;
$header_height-xs : $header_height / 1.6;
$border-width: 3px;
$border: $border-width solid $blue;
$padding: 25px;
$padding-sm: $padding / 1.5;
$padding-xs: $padding / 1.6;
$padding-xxs: 15px;

$content-innerheight: calc(100vh - #{$padding*2 + $header_height + $border-width*2});
$content-innerheight-sm: calc(100vh - #{$header_height-sm + $border-width + $padding-sm * 2});
$content-innerheight-xs: calc(100vh - #{$header_height-xs + $border-width + $padding-xs * 2});
$content-innerheight-xxs: calc(100vh - #{$header_height-xs + $border-width + $padding-xxs * 2});
$viewport-innerheight: calc(100vh - #{$padding*2 + $border-width*2});
$viewport-innerheight-sm: calc(100vh - #{$border-width + $padding-sm * 2});
$viewport-innerheight-xs: calc(100vh - #{$border-width + $padding-xs * 2});
$viewport-innerheight-xxs: calc(100vh - #{$border-width + $padding-xxs * 2});

$breakpoint-xxs: 360px;
