.scroll-down {
  position:absolute;
  bottom: 20px;
  width: 56px;
  height: 56px;
  border: $border;
  background: $white;
  border-radius: 50%;
  cursor:pointer;
  left:50%;
  transform: translate3d(-50%, 0%, 0);
  transition: transform 0.3s;
  &.has-scrolled {
    transform: translate3d(-50%,80px,0);
  }
}

.scroll-down svg {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%, -50%, 0);
  g {
    stroke: $blue;
  }
}